.heading2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #0B72B9;
}

.heading3 {
    font-family: Pacifico;
    font-size: 2.5rem;
    color: #0B72B9;
}

.heading4 {
    font-family: Raleway;
    font-size: 1.75rem;
    color: #0B72B9;
    font-weight: 700;
}

.subtitle1 {
    font-size: 1.25rem;
    font-weight: 300;
    color: #868686;
    margin-bottom: 1em;
}

.subtitle2 {
    color: white;
    font-size: 1.25rem;
    font-weight: 300;
}

.orangeText {
    font-family: Pacifico;
    color: #FFBA60;
}

.learnBtn {
    border-color: #0B72B9;
    border-width: 2px;
    text-transform: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: bold;
    color: #0B72B9;
    font-size: 0.7rem;
    height: 35px;
}

.servicesContainer {
    margin-top: 12em;
    margin-bottom: 12em;
}

.serviceContainer {
    margin-top: 12em;
}

.leftServiceTextContainer {
    margin-left: 5em;
}

.rightServiceIcon {
    margin-left: 2em;
}

.leftServiceIcon {
    margin-right: 5em;
}

.rightServiceTextContainer {
    margin-right: 2em;
}

@media only screen and (max-width: 950px) {
    .serviceContainer {
        justify-content: center;
    }
    .leftServiceTextContainer {
        margin-left: 0;
    }
    .leftServiceIcon {
        margin-left: 0;
    }
}

@media only screen and (max-width: 745px) {
    .rightServiceIcon {
        margin-right: 0;
    }
    .rightServiceTextContainer {
        margin-right: 0;
    }
    .leftServiceTextContainer .rightServiceTextContainer {
        text-align: center;
    }
}
