.heading2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #0B72B9;
}

.heading4 {
    font-family: Raleway;
    font-size: 1.75rem;
    color: #0B72B9;
    font-weight: 700;
}

.body1 {
    font-size: 1.25rem;
    color: #868686;
    font-weight: 300;
}

.mainContainer {
    padding: 2em 5em 10em;
}

.widthContainer {
    max-width: 60em;
}

.arrowContainer {
    margin-top: 0.5em;
}

.arrowContainer {
    margin-top: 0.5em;
}

.rowContainer {
    margin-top: 15em;
}

.saveItem {
    max-width: 40em;
}

.animationRowContainer {
    margin-top: 5em;
}

.rootCauseContainer {
    text-align: center;
    margin-top: 15em;
}

.automationRowContainer {
    margin-bottom: 15em;
}

@media only screen and (max-width: 900px) {
    .saveItem:not(:first-child) {
        margin-top: 5em;
    }
}

@media only screen and (max-width: 600px) {
    .rootImg {
        height: 12em;
        width: 12em;
    }
    .rootCauseContainer {
        text-align: inherit;
    }
}
