.headingMain {
    font-family: Pacifico;
/*    font-weight: 700;*/
    font-size: 2.5rem;
    line-height: 1.5;
    color: #0B72B9;
}

.heading2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #0B72B9;
}

.heading4 {
    font-family: Raleway;
    font-size: 1.75rem;
    color: #0B72B9;
    font-weight: 700;
}

.body1 {
    font-size: 1.25rem;
    color: #868686;
    font-weight: 300;
}

.mainContainer {
    padding: 2em 5em;
}

@media only screen and (max-width: 900px) {
    .mainContainer {
        padding: 2em 3em;
    }
}

.widthContainer {
    max-width: 60em;
}

.rowContainer {
    margin-top: 15em;
}

.iconImg {
    max-width: 40em;
    margin-right: 5em;
}

.processIconImg {
    max-width: 30em;
}

.reviewIconImg {
    max-width: 15em;
}

.launchIconImg {
    max-height: 25em;
}

.maintainIconImg {
    max-height: 20em;
}

@media only screen and (max-width: 900px) {
    .iconImg {
        max-width: 30em;
        margin-right: 5em;
    }

    .processIconImg {
        max-width: 20em;
    }

    .reviewIconImg {
        max-width: 12em;
    }
}

@media only screen and (max-width: 600px) {
    .iconImg {
        max-width: 20em;
        margin-right: 0;
    }

    .processIconImg {
        max-width: 15em;
    }

    .reviewIconImg {
        max-width: 9em;
    }
}

.processHeading {
    margin-bottom: 5em;
}

.consultationBackground {
    background-color: #B3B3B3;
}

.processContainer {
    margin-top: 5em;
}

.consultationHeading {
    font-family: Raleway;
    font-size: 1.5rem;
    color: #000;
    font-weight: 700;
}

.processRow {
    padding: 5em 5em 5em;
}


.mockupBackground {
    background-color: #FF7373;
}

.reviewBackground {
    background-color: #39B54A;
}

.designBackground {
    background-color: #A67C52;
}

.buildBackground {
    background-color: #FBB03B;
}

.launchBackground {
    background-color: #C1272D;
}

.maintainBackground {
    background-color: #8E45CE;
}

.iterateBackground {
    background-color: #29ABE2;
}

.iterateRow {
    padding: 5em 5em 15em;
}
