.footer {
    background-color: #0B72B9;
    width: 100%;
    z-index: 1302;
    /*position: relative;*/
}

.adornment {
    width: 25em;
    vertical-align: bottom;
}

.adornmentMd {
    width: 21em;
}

.adornmentSm {
    width: 15em;
}

.gridContainer {
    position: absolute;
    margin-top: -3em;
}

.link {
    color: white;
    font-family: Arial;
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: none;
}

.icon {
    height: 3em;
    width: 3em;
}

.socialContainer {
    position: absolute;
    margin-top: -6em;
    right: 1.5em;
}

@media only screen and (max-width: 600px) {
    .icon {
        height: 2em;
        width: 2em;
    }
}
