.heading2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #0B72B9;
}

.heading4 {
    font-family: Raleway;
    font-size: 1.75rem;
    color: #0B72B9;
    font-weight: 700;
}

.body1 {
    font-size: 1.25rem;
    color: #868686;
    font-weight: 300;
}

.mainContainer {
    padding: 2em 5em;
}

@media only screen and (max-width: 900px) {
    .mainContainer {
        padding: 2em 3em;
    }
}

.widthContainer {
    max-width: 60em;
}

.arrowContainer {
    margin-top: 0.5em;
}

.rowContainer {
    margin-bottom: 15em;
}

.iconTextItem {
    max-width: 40em;
}

@media only screen and (max-width: 900px) {
    .iconTextItem:not(:first-child) {
        margin-top: 5em;
    }
}

.imgIcons {
    max-width: 28em;
}

@media only screen and (max-width: 600px) {
    .imgIcons {
        max-width: 20em;
    }

    .textIconContainer {
        text-align: center;
    }
}
