.heading2 {
    font-family: Raleway;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #0B72B9;
}

.heading3 {
    font-family: Pacifico;
    font-size: 2.5rem;
    color: #0B72B9;
}

.heading4 {
    font-family: Raleway;
    font-size: 1.75rem;
    color: #0B72B9;
    font-weight: 700;
}

.subtitle1 {
    font-size: 1.25rem;
    font-weight: 300;
    color: #868686;
    margin-bottom: 1em;
}

.orangeText {
    font-family: Pacifico;
    color: #FFBA60;
}

.animation {
    max-width: 50em;
    min-width: 21em;
    margin-top: 2em;
    margin-left: 10%;
}

@media only screen and (max-width: 600px) {
    .animation {
        max-width: 30em;
    }
}

.estimateBtn {
    border-radius: 50px;
    margin-right: 40px;
    font-family: Pacifico;
    text-transform: none;
    font-size: 1rem;
    color: white;
    height: 45px;
    width: 145px;
}

.btnContainer {
    margin-top: 1em;
}

.learnBtn {
    border-color: #0B72B9;
    border-width: 2px;
    text-transform: none;
    border-radius: 50px;
    font-family: Roboto;
    font-weight: bold;
    color: #0B72B9;
    font-size: 0.7rem;
    height: 35px;
}

.learnBtnHeader {
    height: 45px;
    width: 145px;
    font-size: 0.9rem;
}

@media only screen and (max-width: 900px) {
    .mainContainer {
        margin-top: 3em;
    }
}

@media only screen and (max-width: 600px) {
    .mainContainer {
        margin-top: 2em;
    }
}

.heroTextContainer {
    min-width: 21.5em;
    margin-left: 1em;
}

@media only screen and (max-width: 600px) {
    .heroTextContainer {
        margin-left: 0;
    }
}

.serviceContainer {
    margin-top: 12em;
}

.leftServiceTextContainer {
    margin-left: 5em;
}

.rightServiceIcon {
    margin-left: 2em;
}

.leftServiceIcon {
    margin-right: 5em;
}

.rightServiceTextContainer {
    margin-right: 2em;
}

@media only screen and (max-width: 950px) {
    .serviceContainer {
        justify-content: center;
    }
    .leftServiceTextContainer {
        margin-left: 0;
    }
    .leftServiceIcon {
        margin-left: 0;
    }
}

@media only screen and (max-width: 745px) {
    .rightServiceIcon {
        margin-right: 0;
    }
    .rightServiceTextContainer {
        margin-right: 0;
    }
    .leftServiceTextContainer .rightServiceTextContainer {
        text-align: center;
    }
}

.revolutionBackground {
    background-image: url("../../assets/repeatingBackground.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.revolutionCard {
    position: absolute;
    box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.2),0px 10px 14px 1px rgba(0,0,0,0.14),0px 4px 18px 3px rgba(0,0,0,0.12);
    border-radius: 15px;
    padding: 10em;
}

@media only screen and (max-width: 900px) {
    .revolutionCard {
        padding: 3em;
    }
}

@media only screen and (max-width: 600px) {
    .revolutionCard {
        padding: 2em;
    }
}
